/********************
날짜: 2020/01/04
작성자: 유승민
설명: 위뮤즈 기본 style
*********************/
@import './variable.css';
@import './reset.css';

/* 나눔스퀘어라운드 - Regular(nomal) */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('../assets/font/NanumSquareRoundR.ttf') format('truetype');
  font-weight: normal;
}

/* 나눔스퀘어라운드 - Bold(500) */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('../assets/font/NanumSquareRoundB.ttf') format('truetype');
  font-weight: 500;
}

/* 나눔스퀘어라운드 - Extra Bold(700) */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('../assets/font/NanumSquareRoundEB.ttf') format('truetype');
  font-weight: 700;
}

/* 위뮤즈 기본 폰트 - 나눔스퀘어라운드 */
body {
  font-family: NanumSquareRound, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--wemuz-black);
  background: white;
}
