:root {
  --wemuz-light-purple: #9986ff;
  --wemuz-purple: #785ffa;
  --wemuz-deep-purple: #7c22d1;
  --wemuz-dark-purple: #323040;
  --wemuz-red: #fe5c5d;
  --wemuz-white-gray: #eeeeee;
  --wemuz-light-gray: #cccccc;
  --wemuz-gray: #999999;
  --wemuz-dark-gray: #555555;
  --wemuz-black: #333333;
}
